
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
   @if(Session["UserId"] != null)
     {
      <h2>Welcome</h2>@Session["Name"].ToString()
     }
    <br /><br />
          <div align="right">
              <a href="~/Home/Logout" class="btn btn-warning">LogOut</a>
          </div>
</body>
</html>
