
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <div> 
        <b style="color:chocolate"> logged Out successfully </b><br />
        @Html.ActionLink("Login","Login","Home");
    </div>
</body>
</html>
